html,
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.h-100vh {
  min-height: 100vh;
}
.pb-main {
  padding-bottom: 30px;
}

.wellness-wrapper {
  background: #ffffff;
  box-shadow: 0px 4px 16px 11px rgba(255, 168, 0, 0.05);
  border-radius: 20px;
  padding: 20px 30px;
  margin-top: 60px;
}

.wellness-inner {
  background: rgba(159, 189, 191, 0.4);
  border-radius: 20px;
}

.inner-card {
  margin-top: -60px;
  /* min-width: 608px; */
  background: #e8971e;
  box-shadow: 0px 4px 16px rgba(240, 73, 116, 0.13);
  border-radius: 20px 20px 0px 0px;
  height: calc(100% + 60px);
  /* padding: 50px 30px; */
}

@media (max-width: 992px) {
  .inner-card {
    margin-top: 0px;
    /* margin-bottom: 60px; */
  }
  .last-card {
    margin-top: 40px;
  }
}

.no-deco {
  text-decoration: none;
  color: #fff;
}
